In [1]:
import pandas as pd

In [10]:
data_dictionary = pd.read_clipboard(index_col=0)

In [11]:
data_dictionary.head()

            Column name                                        Description
Column No.
0             person_id  Numeric: A unique id that anonymizes individua...
1           HearingDate  Datetime: Date of court hearing in YYYY-MM-DD ...
2           CodeSection  String: The section of the Virginia criminal c...
3           codesection  Categorical: is the code section one of the on...
4            ChargeType  String: Felony or Misdemeanor or rare alternat...

In [16]:
fips = pd.read_clipboard()

In [17]:
fips.head()

   fips                     name
0     1   Accomack Circuit Court
1     3  Albemarle Circuit Court
2     5  Alleghany Circuit Court
3     7     Amelia Circuit Court
4     9    Amherst Circuit Court

In [12]:
!ls

M8_codealong.ipynb    data1k.csv            lab-assignment8.ipynb

In [15]:
court = pd.read_csv("data1k.csv")
court.head(1).T

                                                                             0
person_id                                                      199031000000439
HearingDate                                                         2018-06-01
CodeSection                                                         A.46.2-862
codesection                                                  covered elsewhere
ChargeType                                                         Misdemeanor
chargetype                                                         Misdemeanor
Class                                                                      NaN
DispositionCode                                                         Guilty
disposition                                                         Conviction
Plea                                                                       NaN
Race                                                       Black(Non-Hispanic)
Sex                                                                     Female
fips                                                                       117
convictions                                                               True
arrests                                                                  False
felony10                                                                 False
sevenyear                                                                False
tenyear                                                                  False
within7                                                                   True
within10                                                                  True
class1_2                                                                 False
class3_4                                                                 False
expungable                                                 Automatic (pending)
old_expungable                                                           False
expungable_no_lifetimelimit                                Automatic (pending)
reason                       Conviction of misdemeanor charges listed in 19...
sameday                                                                  False
lifetime                                                                 False

In [18]:
court.Race.value_counts()

White Caucasian(Non-Hispanic)                  1093
Black(Non-Hispanic)                             864
White Caucasian (Non-Hispanic)                  342
Black (Non-Hispanic)                            311
Hispanic                                         88
Asian Or Pacific Islander                        27
Other(Includes Not Applicable.. Unknown)         27
White                                            17
Unknown (Includes Not Applicable.. Unknown)      11
MISSING                                          10
Black                                            10
Other (Includes Not Applicable.. Unknown)         8
American Indian                                   3
Name: Race, dtype: int64

In [29]:
court.Race.unique()

array(['Black(Non-Hispanic)', 'White Caucasian (Non-Hispanic)',
       'Hispanic', 'White Caucasian(Non-Hispanic)',
       'Black (Non-Hispanic)', 'Asian Or Pacific Islander',
       'Other(Includes Not Applicable.. Unknown)',
       'Other (Includes Not Applicable.. Unknown)', 'MISSING',
       'Unknown (Includes Not Applicable.. Unknown)', 'Black', 'White',
       'American Indian'], dtype=object)

In [31]:
replace_map = {'Black(Non-Hispanic)': 'Black (Non-Hispanic)', 
               'Hispanic': 'Hispanic', 
               'White Caucasian(Non-Hispanic)': 'White (Non-Hispanic)',
               'MISSING': 'Missing or Other', 
               'Asian Or Pacific Islander': 'Asian or Pacific Islander', 
               'Black (Non-Hispanic)': 'Black (Non-Hispanic)',
               'White Caucasian (Non-Hispanic)': 'White (Non-Hispanic)',
               'Other(Includes Not Applicable.. Unknown)': 'Missing or Other',
               'Other (Includes Not Applicable.. Unknown)': 'Missing or Other', 
               'Black': 'Black (Non-Hispanic)', 
               'White': 'White (Non-Hispanic)',
               'Unknown (Includes Not Applicable.. Unknown)': 'Missing or Other', 
               'American Indian': 'American Indian or Alaskan Native',
               'Unknown': 'Missing or Other', 
               'Asian or Pacific Islander': 'Asian or Pacific Islander',
               'American Indian Or Alaskan Native': 'American Indian or Alaskan Native'}


court['Race']= court.Race.replace(replace_map)

In [32]:
court.Race.value_counts()

White (Non-Hispanic)                 1452
Black (Non-Hispanic)                 1185
Hispanic                               88
Missing or Other                       56
Asian or Pacific Islander              27
American Indian or Alaskan Native       3
Name: Race, dtype: int64

In [36]:
my_columns = ['HearingDate', 'CodeSection', 'Race', 'disposition', 'fips', 'expungable']

In [38]:
court_small = court[my_columns]
court_small.head()

,HearingDate,CodeSection,Race,disposition,fips,expungable
0,2018-06-01,A.46.2-862,Black (Non-Hispanic),Conviction,117,Automatic (pending)
1,2000-08-07,18.2-26,White (Non-Hispanic),Conviction,191,Petition
2,2000-08-07,18.2-95,White (Non-Hispanic),Conviction,191,Petition
3,2019-09-25,46.2-300,Hispanic,Conviction,23,Automatic (pending)
4,2010-05-03,46.2-613(2),White (Non-Hispanic),Conviction,840,Automatic

In [39]:
court_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HearingDate  2811 non-null   object
 1   CodeSection  2811 non-null   object
 2   Race         2811 non-null   object
 3   disposition  2811 non-null   object
 4   fips         2811 non-null   int64
 5   expungable   2811 non-null   object
dtypes: int64(1), object(5)
memory usage: 131.9+ KB

In [41]:
court_small['HearingDate'] = pd.to_datetime(court_small['HearingDate'])

<ipython-input-41-88b3e016dfd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  court_small['HearingDate'] = pd.to_datetime(court_small['HearingDate'])

In [52]:
court_small['HearingDate'].dt.year

0       2018
1       2000
2       2000
3       2019
4       2010
        ...
2806    2008
2807    2009
2808    2019
2809    2013
2810    2018
Name: HearingDate, Length: 2811, dtype: int64

In [53]:
court_small['Automatic'] = court_small['expungable'] == "Automatic"
court_small.groupby('year').agg({'Automatic':'sum'})

<ipython-input-53-22aa53206ff8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  court_small['Automatic'] = court_small['expungable'] == "Automatic"

KeyError: 'year'

In [54]:
court_small['CodeSection'].value_counts()

B.46.2-301        268
A.46.2-862        253
46.2-300          177
C.46.2-862        123
18.2-250.1         96
                 ...
A.46.2-704          1
4VAC20-1250-30      1
14-104              1
F.46.2-875          1
46.2-1052           1
Name: CodeSection, Length: 345, dtype: int64