## M7 pandas codealong

In [1]:
import pandas as pd
import numpy as np
import os
import sqlite3

In [2]:
!ls

M7_codealong.ipynb nba.db

In [3]:
nba_db = sqlite3.connect("nba.db")

In [4]:
pd.read_sql_query('SELECT * FROM players_season LIMIT 1', nba_db).T

                                0
player               Aaron Gordon
player_id               gordoaa01
season_starter                 62
season_minutes          31.671237
season_fg                     344
season_fga                    674
season_fg3                     68
season_fg3a                   217
season_ft                     140
season_fta                    190
season_orb                    100
season_drb                    253
season_ast                    157
season_stl                     41
season_blk                     34
season_tov                    109
season_pf                     121
season_pts                    896
season_usg_pct          19.540323
season_ts_pct            0.594097
season_did_not_play             0
season_is_inactive              0
season_PG%                    0.0
season_SG%                    0.0
season_SF%                   50.0
season_PF%                   47.0
season_C%                     3.0

In [5]:
mq = '''
SELECT * FROM players_season
WHERE LOWER(player) LIKE '%lebron%'

'''
pd.read_sql_query(mq, nba_db)

,player,player_id,season_starter,season_minutes,season_fg,season_fga,season_fg3,season_fg3a,season_ft,season_fta,...,season_pts,season_usg_pct,season_ts_pct,season_did_not_play,season_is_inactive,season_PG%,season_SG%,season_SF%,season_PF%,season_C%
0,LeBron James,jamesle01,50,34.078704,552,1065,142,399,232,300,...,1478,29.909259,0.573704,4,4,0.0,0.0,27.0,67.0,6.0

In [6]:
pd.read_sql_query("SELECT * FROM players_season LIMIT 10", nba_db).T

,0,1,2,3,4,5,6,7,8,9
player,Aaron Gordon,Aaron Henry,Aaron Holiday,Aaron Nesmith,Aaron Wiggins,Abdel Nader,Ade Murkey,Admiral Schofield,Ahmad Caver,Al Horford
player_id,gordoaa01,henryaa01,holidaa01,nesmiaa01,wiggiaa01,naderab01,murkead01,schofad01,caverah01,horfoal01
season_starter,62,0,14,2,27,0,0,1,0,59
season_minutes,31.671237,0.99902,14.848305,8.15977,19.967708,6.05,1.466667,7.846491,0.208333,28.5225
season_fg,344,1,136,56,119,12,0,36,1,230
season_fga,674,5,289,153,249,35,0,79,1,506
season_fg3,68,0,34,23,35,4,0,14,0,75
season_fg3a,217,1,88,95,106,14,0,45,0,237
season_ft,140,0,46,16,39,6,0,7,0,73
season_fta,190,0,54,19,55,10,0,10,0,86
season_orb,100,0,16,14,40,4,0,11,0,94
season_drb,253,1,78,63,109,23,0,43,0,357
season_ast,157,0,123,18,45,7,0,16,0,196
season_stl,41,0,35,14,28,8,0,4,0,40
season_blk,34,2,9,4,9,4,0,4,0,80
season_tov,109,2,54,26,35,11,0,14,0,58
season_pf,121,2,75,54,80,20,0,36,0,112
season_pts,896,2,352,151,312,34,0,93,2,608
season_usg_pct,19.540323,6.835294,17.145763,13.751724,11.11875,9.0625,27.1,10.389474,13.175,15.275
season_ts_pct,0.594097,0.058824,0.519102,0.268259,0.460875,0.200542,0.568,0.329447,0.25,0.554717
season_did_not_play,0,11,6,13,7,10,0,8,3,1
season_is_inactive,0,0,0,0,2,8,0,0,0,0
season_PG%,0.0,0.0,99.186441,1.0,7.0,0.0,0.0,0.0,100.0,0.0
season_SG%,0.0,11.0,0.813559,30.0,67.0,13.0,0.0,6.0,0.0,0.0
season_SF%,50.0,69.0,0.0,62.0,25.0,86.0,100.0,54.0,0.0,0.0
season_PF%,47.0,21.0,0.0,8.0,1.0,1.0,0.0,39.0,0.0,1.0
season_C%,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,99.0

In [7]:
mq2 = '''
SELECT  player, season_pts + 1.5 * season_ast as mvp_metric
FROM players_season
ORDER BY mvp_metric DESC
LIMIT 10
'''
pd.read_sql_query(mq2, nba_db)

                  player  mvp_metric
0             Trae Young      2610.0
1           Nikola Jokic      2328.0
2          DeMar DeRozan      2252.5
3  Giannis Antetokounmpo      2200.5
4          Stephen Curry      2174.0
5            Luka Doncic      2167.0
6           Jayson Tatum      2150.0
7        Dejounte Murray      2095.5
8              Ja Morant      2070.5
9            Joel Embiid      1999.0