# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. To receive full credit, make sure you address every part of the problem, make sure your document is formatted in a clean and professional way, and make sure the notebook is converted to a PDF and submitted to Gradescope according to these instructions: https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing.

**This assignment requires you to include tables and images.** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

To put an image into a markdown cell in a Jupyter notebook, save the image as a .png or .jpg file in the same folder where you have saved your Jupyter notebook, and use markdown code that looks like this:
```
![](imagefile.png)
```
where you will need to replace `imagefile.png` with the name of your own image file. Alternatively, if you want to control the size of the image in your notebook, type the following code on its own line in the markdown cell:
```
<img src="imagefile.png" width="600">
```
Here the `width` option allows you to control the size of the image by making this number larger or smaller. When converting the notebook to ![PDF format](https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing), make sure that the images display correctly in the PDF prior to submitting to Gradescope.

### Problem 0
Import the following libraries, load the `.env` file where you store your passwords (see the notebook for module 4 for details), and turn off the error tracebacks to make errors easier to read:

In [1]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
os.chdir("/Users/dmitrymikhaylov/Documents/learn/uva/spring2022/DS6001/surfing_data_pipeline/M6") # change to the directory where your .env file is
dotenv.load_dotenv() # register the .env file where passwords are stored
#sys.tracebacklimit = 0 # turn off the error tracebacks

True

In [6]:
!ls

M6_codealong.ipynb   Untitled.ipynb       nba.dn
M6_codealong.pdf     labassignment6.ipynb

### Problem 1 
Suppose that we have (fake) data on people who are currently being hospitalized. Here are five records in the data:

|patient|conditions|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|
|Nkemdilim Arendonk|[Pneumonia, Diabetes]|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|Raniero Coumans|[Appendicitis, Crohn's disease]|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|Mizuki Debenham|[Kidney Cancer]|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|Zoë De Witt|[Cardiomyopathy, Diabetes, Sciatica]|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|Bonnie Hooper|[Pancreatic Cancer, Sciatica]|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The columns in this dataset are:

* **patient**: Patient name
* **conditions**: A list of the conditions that are relevant to the patient's hospitalization
* **dateofbirth**: The patient's date of birth
* **age**: The patient's age
* **sex**: The patient's sex
* **attendingphysician**: The name of the attending physician for the patient
* **APmedschool**: The name of the school where the attending physician got a medical degree
* **APyearsexperiece**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospitallocation**: The location of the hospital

For this problem, assume that 

1. Some people in the data share the same name, but no two people in the data share the same name and date of birth.

2. Every attending physician is employed at only one hospital.

3. Every hospital exists at only one location.

4. There's more than one doctor with the same name, but there are no doctors with the same name that work at the same hospital.

#### Part a 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of first normal form. [2 points]

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

#### Part c 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of third normal form. 

Note that the patient's age is a derived attribute from the patient's date of birth, but please don't make an extra data table just for age. In principle, if we are worried about data inconsistencies we can simply remove age from the database and calculate it when needed from date of birth. But for this exercise, leave age in the table and ignore its dependency with date of birth. [2 points]

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using draw.io: https://app.diagrams.net/. The symbols used for both Chen's notation and IE notation are on the left-hand toolbar.

#### Part a 
Create a conceptual ER diagram using Chen's notation. [2 points]

#### Part b 
Create a logical ER diagram using Chen's notation. [2 points]

#### Part c 
Create a conceptual ER diagram using IE notation. [2 points]

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL. 

To get the data, first set the working directory the folder on your computer to the folder where you want the CSV files to be. This should be the same folder where you saved our lab notebook and all associated files. Then change this line of code to the address for that folder:

In [2]:
os.chdir("/Users/dmitrymikhaylov/Documents/learn/uva/spring2022/DS6001/surfing_data_pipeline/M6")

The following code of code will download the CSV files. Please run this as is:

In [3]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

In [4]:
!ls

M6_codealong.ipynb   database.db          pitchfork (1).db
M6_codealong.pdf     genres.csv           pitchfork.db
Untitled.ipynb       labassignment6.ipynb reviews.csv
artists.csv          labels.csv           years.csv
content.csv          nba.dn

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [9]:
reviews = pd.read_csv("reviews.csv", index_col=0)
artists = pd.read_csv("artists.csv", index_col=0)
content = pd.read_csv("content.csv", index_col=0)
genres = pd.read_csv("genres.csv", index_col=0)
labels = pd.read_csv("labels.csv", index_col=0)
years = pd.read_csv("years.csv", index_col=0)

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [27]:
# Create and populate the database with 6 tables
database = sqlite3.connect("database.db")

In [28]:
reviews.to_sql('reviews', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

18393

In [29]:
reviews.to_sql('reviews', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

18393

In [30]:
artists.to_sql('artists', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

18831

In [31]:
content.to_sql('content', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

18393

In [32]:
genres.to_sql('genres', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

22680

In [33]:
labels.to_sql('labels', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

20190

In [34]:
years.to_sql('years', database, index=False, chunksize=1000, if_exists = 'replace') # to be run

19108

In [35]:
database.commit()

In [36]:
database.close()

In [37]:
# Query the database using .cursor
conn = sqlite3.connect('database.db')
cursor = conn.cursor()
cursor

In [38]:
cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
rows = cursor.fetchall()
for row in rows:
    print(row)

('metal box', 'public image ltd', 10.0)
('blood on the tracks', 'bob dylan', 10.0)
('another green world', 'brian eno', 10.0)
('songs in the key of life', 'stevie wonder', 10.0)
('in concert', 'nina simone', 10.0)
("tonight's the night", 'neil young', 10.0)
('hounds of love', 'kate bush', 10.0)
('sign "o" the times', 'prince', 10.0)
('1999', 'prince', 10.0)
('purple rain', 'prince, the revolution', 10.0)
('dirty mind', 'prince', 10.0)
('off the wall', 'michael jackson', 10.0)
('"heroes"', 'david bowie', 10.0)
('low', 'david bowie', 10.0)
('a love supreme: the complete masters', 'john coltrane', 10.0)
("people's instinctive travels and the paths of rhythm", 'a tribe called quest', 10.0)
('astral weeks', 'van morrison', 10.0)
('loaded: re-loaded 45th anniversary edition', 'the velvet underground', 10.0)
('sticky fingers', 'the rolling stones', 10.0)
('it takes a nation of millions to hold us back', 'public enemy', 10.0)
('the velvet underground  45th anniversary super deluxe edition', 'the velvet underground', 10.0)
('spiderland', 'slint', 10.0)
('the infamous', 'mobb deep', 10.0)
('white light/white heat', 'the velvet underground', 10.0)
('in utero: 20th anniversary edition', 'nirvana', 10.0)
('rumours', 'fleetwood mac', 10.0)
('illmatic', 'nas', 10.0)
('donuts (45 box set)', 'j dilla', 10.0)
('voodoo', 'dangelo', 10.0)
('the disintegration loops', 'william basinski', 10.0)
('liquid swords: chess box deluxe edition', 'gza', 10.0)
("isn't anything", 'my bloody valentine', 10.0)
('tago mago [40th anniversary edition]', 'can', 10.0)
('the smile sessions', 'the beach boys', 10.0)
('laughing stock', 'talk talk', 10.0)
('nevermind [20th anniversary edition]', 'nirvana', 10.0)
('emergency & i [vinyl reissue]', 'the dismemberment plan', 10.0)
('my beautiful dark twisted fantasy', 'kanye west', 10.0)
('disintegration [deluxe edition]', 'the cure', 10.0)
('exile on main st. [deluxe edition]', 'the rolling stones', 10.0)
('quarantine the past', 'pavement', 10.0)
("ladies and gentlemen we are floating in space [collector's editon]", 'spiritualized', 10.0)
('the stone roses', 'the stone roses', 10.0)
('the beatles', 'the beatles', 10.0)
('abbey road', 'the beatles', 10.0)
('rubber soul', 'the beatles', 10.0)
('revolver', 'the beatles', 10.0)
("sgt. pepper's lonely hearts club band", 'the beatles', 10.0)
('magical mystery tour', 'the beatles', 10.0)
('stereo box', 'the beatles', 10.0)
('kid a: special collectors edition', 'radiohead', 10.0)
('reckoning [deluxe edition]', 'r.e.m.', 10.0)
('histoire de melody nelson', 'serge gainsbourg', 10.0)
("paul's boutique", 'beastie boys', 10.0)
('murmur [deluxe edition]', 'r.e.m.', 10.0)
("otis blue: otis redding sings soul [collector's edition]", 'otis redding', 10.0)
('unknown pleasures', 'joy division', 10.0)
('daydream nation: deluxe edition', 'sonic youth', 10.0)
('pink flag', 'wire', 10.0)
('born to run: 30th anniversary edition', 'bruce springsteen', 10.0)
('in the aeroplane over the sea', 'neutral milk hotel', 10.0)
('endtroducing... [deluxe edition]', 'dj shadow', 10.0)
("crooked rain, crooked rain: la's desert origins", 'pavement', 10.0)
('london calling: 25th anniversary legacy edition', 'the clash', 10.0)
('music has the right to children', 'boards of canada', 10.0)
('live at the apollo [expanded edition]', 'james brown', 10.0)
('no thanks!: the 70s punk rebellion', 'various artists', 10.0)
('marquee moon', 'television', 10.0)
('the ascension', 'glenn branca', 10.0)
("this year's model", 'elvis costello & the attractions', 10.0)
('yankee hotel foxtrot', 'wilco', 10.0)
('source tags and codes', '...and you will know us by the trail of dead', 10.0)
('the olatunji concert: the last live recording', 'john coltrane', 10.0)
('kid a', 'radiohead', 10.0)
('animals', 'pink floyd', 10.0)
('i see a darkness', 'bonnie prince billy', 10.0)

In [39]:
conn.commit()

In [41]:
conn.close()

In [43]:
another_conn = sqlite3.connect('database.db')
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", another_conn)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [44]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '1400',
 'text': 'The Trần dynasty of Vietnam is deposed, after one hundred and seventy-five years of rule, by Hồ Quý Ly, a court official.',
 'html': '1400 - The <a href="https://wikipedia.org/wiki/Tr%E1%BA%A7n_dynasty" title="Trần dynasty">Trần dynasty</a> of <a href="https://wikipedia.org/wiki/Vietnam" title="Vietnam">Vietnam</a> is deposed, after one hundred and seventy-five years of rule, by <a href="https://wikipedia.org/wiki/H%E1%BB%93_Qu%C3%BD_Ly" title="Hồ Quý Ly">Hồ Quý Ly</a>, a court official.',
 'no_year_html': 'The <a href="https://wikipedia.org/wiki/Tr%E1%BA%A7n_dynasty" title="Trần dynasty">Trần dynasty</a> of <a href="https://wikipedia.org/wiki/Vietnam" title="Vietnam">Vietnam</a> is deposed, after one hundred and seventy-five years of rule, by <a href="https://wikipedia.org/wiki/H%E1%BB%93_Qu%C3%BD_Ly" title="Hồ Quý Ly">Hồ Quý Ly</a>, a court official.',
 'links': [{'title': 'Trần dynasty',
   'link': 'https://wikipedia.org/wiki/Tr%E1%BA%A7n_dynasty'},
  {'title': 'Vietnam', 'link': 'https://wikipedia.org/wiki/Vietnam'},
  {'title': 'Hồ Quý Ly',
   'link': 'https://wikipedia.org/wiki/H%E1%BB%93_Qu%C3%BD_Ly'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [2 points]